{% block style %}
	<link rel="stylesheet" href="/assets/css/header.css">
{% endblock %}

<header class="site-header">

    <div class="header-left"></div>

    <div class="header-center">

        <a href="/" class="site-logo">
            ROSTER<span>FORGE</span>
        </a>

        <p class="site-subtitle">
            Organisez vos raids, maximisez votre temps de jeu
        </p>

    </div>

    <div class="header-right">

        {% if user %}

            <span class="header-battletag">
                {{ user.battletag }}
            </span>

            <a
                href="/auth/logout"
                class="logout-link"
            >
                Déconnexion
            </a>

        {% endif %}

    </div>

</header>

{% if user %}

<nav class="main-nav">

    <a href="/dashboard">
        Dashboard
    </a>

	<a href="/roster">
        Roster
    </a>

	<a href="/inspection">
        Inspection
    </a>

    <a href="/builder">
        Builder
    </a>

    <a href="/planner">
        Planner
    </a>

</nav>

{% endif %}