{% block style %}
	<link rel="stylesheet" href="/assets/css/header.css">
{% endblock %}

<header>
	<div class="logo-container">
		{# <img src="/assets/img/logo-cer-blanc-rouge.png" alt="logo CER"> #}
	</div>
	<div class="title-container">
		<h1>ROSTERFORGE</h1>
		<p>Organisez vos raids, maximisez votre temps de jeu</p>
	</div>


	{% if infos %}
		<div class="infos-container">
			<h3>{{infos.raisonSociale}}</h3>
			<p>{{infos.siret}}</p>
			<a href="/logout">Déconnexion</a>
		</div>
	{% endif %}


</header>
