{% block style %}
	<link rel="stylesheet" href="/assets/css/sidebar.css">
{% endblock %}
<aside class="sidebar">
    <nav>
        <ul>
            <li>
                <a href="/home">
                    <img src="/assets/img/home.png" alt="Accueil" class="icon">
                    <span class="label">Accueil</span>
                </a>
            </li>
            <li>
                <a href="/employe">
                    <img src="/assets/img/employe.png" alt="Employés" class="icon">
                    <span class="label">Employés</span>
                </a>
            </li>
            <li>
                <a href="/fleet">
                    <img src="/assets/img/car.png" alt="Flotte Auto" class="icon">
                    <span class="label">Flotte Auto</span>
                </a>
            </li>
            <li>
                <a href="/settings">
                    <img src="/assets/img/setting.png" alt="Paramètres" class="icon">
                    <span class="label">Paramètres</span>
                </a>
            </li>
           
        </ul>
    </nav>
</aside>
