/* ============ SETTINGS ============= */

.company-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    /* max-width: 500px; */
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
    box-sizing: border-box;
}

/* Infos entreprise */
.company-info p {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
}

.company-info strong {
    font-weight: 600;
}

.company-actions {
    display: flex;
    gap: 10px;
    margin-top: auto;
}


.edit-btn {
    background-color: #ffb301;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
    width: fit-content;
}

.edit-btn:hover {
    background-color: #e1a202;
}



.delete-btn {
    background-color: #D0363B;
    color: white;
    
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
}

.delete-btn:hover {
    background-color: #a82a2f;
}

/* Formulaire de modification caché */
#company-edit-form {
    display: none;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#company-edit-form.expanded {
    display: flex;
}

#company-edit-form .form-group {
    display: flex;
    flex-direction: column;
}

#company-edit-form label {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 13px;
}

#company-edit-form input {
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.2s;
}

#company-edit-form input:focus {
    border-color: #D0363B;
}

#company-edit-form .submit-btn {
    background-color: #4CAF50;
    color: white;
    
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
    margin-top: 10px;
}

#company-edit-form .submit-btn:hover {
    background-color: #3d8b41;
}


/* Responsive */
@media (max-width: 768px) {
    .company-card {
        width: 90%;
        padding: 15px;
        margin: 15px auto;
    }

    #company-edit-form {
        padding: 15px;
    }
}
