{% extends "../layouts/base.twig" %}
{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/register.css">

{% endblock %}

{% block main %}
	<main>


		<form {% if user == "entreprise" %} action="/login?user=entreprise" {% else %} action="/login?user=employe" {% endif %} method="post">
			<h2>CONNEXION</h2>
			{% if user == "entreprise" %}
				{# <a class="loginRedirect" href="/login?user=employe">Accédez à votre Espace Personnel</a> #}
				<div>
					<label for="siret">Nom utilisateur :
					</label>
					<input type="text" name="siret" id="siret" placeholder="14 chiffres" required>
				</div>
			{% else %}
				<a class="loginRedirect" href="/login?user=entreprise">Accédez à votre Espace Entreprise</a>
				<div>
					<label for="mail">Mail :
					</label>
					<input type="email" name="mail" id="mail" placeholder="azerty@exemple.com" required>
				</div>
			{% endif %}
			<div>
				<label for="password">Mot de passe :
				</label>
				<input type="password" name="password" id="password" placeholder="🔒 | Mot de passe" required>
			</div>

			{% if error %}
				<div class="error">

					{{error.msg}}
				</div>
			{% endif %}


			<button>Se connecter</button>
			<p><br>Vous souhaitez utiliser nos services ?</p>
			<a class="redirect" href="/register">Créez votre compte</a>
		</form>


	</main>
{% endblock %}
